<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionData.Properties.Settings.pubsConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\pubs.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>